<div class="card">
  <!-- The contents of the post card links to the post page using the post ID -->
  <div class="card-header">
    <a href="/post/{{id}}"><h5 class="text-start">{{title}}</h5></a>
  </div>
  <div class="card-body">
    <p class="card-text text-center">{{post_text}}</p>
  </div>
  <div class="card-footer">
    <h8 class="text-end">
      Created by:
      {{user.user_name}}
      on:
      {{format_date created_at}}</h8>
  </div>
</div>